@use "../../base/mixins" as m;
@use "../../base/variables" as v;

.nosotros {
    padding: 5rem 0;

    &__grid {
        @include m.tablet { 
            @include m.grid(3, 5rem);
        }
    }
    &__heading{
        @include m.heading;
    }

    &__bloque {
        text-align: center;  
    }
    &__imagen {
        margin: 0 auto;
    }
}